[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
numpy = "*"
boto3 = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
